# -------------------------------------------------------------------------------------------------------------------------------------------------------------
# UMSATS 2018-2020
#
# Repository:
#  Github: https://github.com/UMSATS/cdh-tsat5
#
# File Description:
#  Gitignores for cdh-tsat5.
#
# History
# 2019-01-16 by Tamkin Rahman
# - Created.
# 2020-02-17 by Joseph Howarth
# - Added vscode ignore.
# -------------------------------------------------------------------------------------------------------------------------------------------------------------

# SoftConsole 4.0 ignores:

# Created for workspace.
.metadata/
RemoteSystemsTempFiles/

# Created for builds.
mbsat-fsw-softconsole/.settings/
mbsat-fsw-softconsole/[Dd]ebug/
mbsat-fsw-softconsole/[Dd]ebug Flash/
mbsat-fsw-softconsole/[Rr]elease/

# For VSCode Editor:
.vscode/
